.custom {
	background-image: url('images/burger.jpg');
}
.spacing {
	padding-bottom: 30px;
}

.top {
	padding-top: 15px;
}

.flexed {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
}

.return {
	border: solid black 1px;
	padding: .3%;
	margin: 10px 0;
	border-radius: 4px;
}
.return:hover {
	background-color: #c5c3c3;
}